menu "Devices Configuration"

    menu "Joystick"
        config SW_PIN
            int "SW PIN"
            default 2

        config X_ADC_PIN
            int "PIN_X"
            default 4
        
        config X_ADC_UNIT
            int "PIN_X_ADC_UNIT"
            default 1
            
        config X_ADC_CHANNEL
            int "PIN_X_ADC_CHANNEL"
            default 0

        config Y_ADC_PIN
            int "PIN_Y"
            default 15
        
        config Y_ADC_UNIT
            int "PIN_Y_ADC_UNIT"
            default 1
            
        config Y_ADC_CHANNEL
            int "PIN_Y_ADC_CHANNEL"
            default 3
    endmenu
    
    menu "Display"
        config DISPLAY_RS
            int "DISPLAY_RS"
            default 16

        config DISPLAY_EN
            int "DISPLAY_E"
            default 17

        config DISPLAY_D4
            int "DISPLAY_D4"
            default 5

        config DISPLAY_D5
            int "DISPLAY_D5"
            default 18

        config DISPLAY_D6
            int "DISPLAY_D6"
            default 19

        config DISPLAY_D7
            int "DISPLAY_D7"
            default 21
    endmenu
endmenu